<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BizMap - Canadian Business Matcher</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="font-family: GothamPro">


    <!-- Intro Section -->
    <section id="intro" class="intro-section" >
        <div class="header-shadow">
            <div class="row2">
                <a class="navbar-brand page-scroll" href="#"><img src="../assets/images/logod1.gif"/></a>
            </div>
        </div>
    </section>

    <div class="header-shadow2">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#"><font color="#6b6c6a">Home</font></a></li>
            <li role="presentation"><a href="#">Match</a></li>
            <li role="presentation"><a href="../resources/index.html">Resources</a></li>
        </ul>
    </div>

    <div class="jumbotron">
        <p class="font-weight: 100"><font size = 30 color="6c6d6a">Welcome to <font color="e05c5e">BizMap!</font></font></p>
        <div style="height:40px"></div>
        <p><a class="btn btn-custom" href="#" role="button"><font size="5" style="font-weight: 100">Find Your Match</font></a></p>
    </div>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div style="height:20px;"></div>
                    <div style="font-weight: 100"><font color="#FFFFFF" size=30>About </font><font color="e05c5e" size=30>BizMap</font></h1></div>
                    <div style="height:50px;"></div>
                    <div style="font-weight: 100"><font color="#FFFFFF" size=5>Students from UBC present BizMap, a tool for Canadians looking to start their own small businesses in Canada. Using Canadian Open data sets, this web application will determine the best city to start your business based on the local economy, demographic, and operation costs.</font></div>
                </div>
            </div>
        </div>
    </section>

    <div class="middle_banner">
        <div style="height:150px;"></div>
    </div>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div style="height:20px;"></div>
                    <div style="font-weight: 200"><font color="#6c6d6a" size=30>The </font><font color="e05c5e" size=30>Team</font></h1></div>
                    <div style="height:50px;"></div>
                    <div style="font-weight: 200"><font color="#6c6d6a" size=5>Students from UBC present BizMap, a tool for Canadians looking to start their own small businesses in Canada. Using Canadian Open data sets, this web application will determine the best city to start your business based on the local economy, demographic, and operation costs.</font></div>
                </div>
            </div>
        </div>
        <div style="height:50px;"></div>
        <!-- Team Members Row -->
        <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <img src="../assets/images/erica.png" align="center">
                <p style="font-weight: 200"><font color="6c6d6a" size=5>Erica <font color="e35d60">Lin</font></font> 
                    </br>
                    <font color="8f8f8f">Front End</font>
                </p>
                <p class="profile-text"><font color="8f8f8f">Microbiology &amp; Computer Science</br>Year 2</font></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img src="../assets/images/michael2.png" align="center">
                <p style="font-weight: 200"><font color="6c6d6a" size=5>Michael <font color="e35d60">Yau</font></font> 
                    </br>
                    <font color="8f8f8f">Front End</font>
                </p>
                <p class="profile-text"><font color="8f8f8f">Pharmacology</br>Year 4</font></p>
            </div>
        </div>
        <div style="height:50px;"></div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <img src="../assets/images/austin.png" align="center">
                <p style="font-weight: 200"><font color="6c6d6a" size=5>Austin <font color="e35d60">Chen</font></font> 
                    </br>
                    <font color="8f8f8f">Back End</font>
                </p>
                <p class="profile-text"><font color="8f8f8f">Developmental Neurobiology</br>Year 4</font></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img src="../assets/images/john.png" align="center">
                <p style="font-weight: 200"><font color="6c6d6a" size=5>John <font color="e35d60">Hsu</font></font> 
                    </br>
                    <font color="8f8f8f">Back End</font>
                </p>
                <p class="profile-text"><font color="8f8f8f">Math &amp; Economics</br>Year 4</font></p>
            </div>
        </div>
        </div>
    </section>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>

</body>

</html>
