<h1>Listing Queries</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
	<th>Age</th>
  </tr>
  
  <% @querys.each do |query| %>
  <% key = query[0] %>
  <% row = RecPlace.find(key+34)%>
    <tr>
      <td><%= row.name %></td>
      <td><%= row.rating %></td>
	  <td><%= row.age %></td>
    </tr>
 <%end%>
  

</table>