<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resources</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="font-family: GothamPro">

 <!-- Intro Section -->
    <section id="intro" class="intro-section" >
        <div class="header-shadow">
            <div class="row2">
                <a class="navbar-brand page-scroll" href="../landingpage"><img src="../assets/images/logod2.gif"/></a>
            </div>
        </div>
    </section>

    <div class="header-shadow2">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="../landingpage">Home</a></li>
            <li role="presentation"><a href="../match">Match</a></li>
            <li role="presentation" class="active"><a href="#">Resources</a></li>
        </ul>
    </div>

<!-- Resources Section -->
    <section id="resources" class="resources-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div style="font-weight: 200"><font color="6c6d6a" size=30>Data Sets</font></h1></div>
                    <div style="height:30px;"></div>
                    <div style="font-weight: 300"><font color="6c6d6a" size=4>The following data sets provided by the Government of Canada were utilized in this BizMap application.</font></div>
                        </br>
                        <p style="font-weight: 500"><a href="http://open.canada.ca/data/en/dataset/568258a4-3b2e-4047-832a-97c059b8e4d4"><font color="e35d60" size=4>Retail Trade, Operating Statistics, by Province and Territory</font></a></p>
                        <p style="font-weight: 500"><a href="http://open.canada.ca/data/en/dataset/ba58e6a3-5297-4553-8302-995faa2cd0f4" target="_blank"><font color="e35d60" size=4>Employment by Major Industry Group, Seasonally Adjusted, by Province (Monthly) </font></a></p>
                        <p style="font-weight: 500"><a href="http://open.canada.ca/data/en/dataset/c0e59eae-b3ff-4c61-b064-570e475c585f" target="_blank"><font color="e35d60" size=4>Survey on Financing of Small and Medium Enterprises - 2007</font></a></p>
                        <p style="font-weight: 500"><a href="http://open.canada.ca/data/en/dataset/ffbc1cee-437b-40f7-8696-078dab1ac0d3" target="_blank"><font color="e35d60" size=4>Neighbourhood Income and Demographics, Summary Table</font></a></p> 

                </div>
                <div class="col-lg-12" align="center">
                    <div style="height:20px;"></div>
                    <div style="font-weight: 200"><font color="6c6d6a" size=30>Additional Resources</font></h1></div>
                    <div style="height:30px;"></div>
                    <div style="font-weight: 300"><font color="6c6d6a" size=4>Want to do some of your own research? Check out some of these other great resources from the Government of Canada!</font></div>
                        </br>
                        <p style="font-weight: 500"><a href="http://www.servicecanada.gc.ca/eng/subjects/business/" target="_blank"><font color="e35d60" size=4>Service Canada - Starting a Business</font></a></p>
                        <p style="font-weight: 500"><a href="http://www.canadabusiness.ca/eng/page/2864/#" target="_blank"><font color="e35d60" size=4>Canada Business Network - Market Research and Statistics</font></a></p> 
                        <p style="font-weight: 500"><a href="http://www.ic.gc.ca/eic/site/csbfp-pfpec.nsf/eng/Home" target="_blank"><font color="e35d60" size=4>Industry Canada - Canada Small Business Financing Program</font></a></p> 
                </div>
            </div>
        </div>
    </section>

        <div class="bottom_banner">
        <div style="height:250px;"></div>
    </div>

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div style="height:80px;"></div>
                    <div style="font-weight: 100"><font color="#FFFFFF" size=5>Got any questions or comments? Drop us a message!</font>
                        </br></br>
                        <p style="font-weight: 150px00"><font color="#FFFFFF">Team Hortons UBC</br>contact.teamhortons@gmail.com</font></p>
                        </br></br>
                        <img src="../assets/images/teamhortons.gif">
                    </div>
                </div>
            </div>
        </div>
    </section>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
</body>

</html>
