<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resources</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="font-family: GothamPro">

 <!-- Intro Section -->
    <section id="intro" class="intro-section" >
        <div class="header-shadow">
            <div class="row2">
                <a class="navbar-brand page-scroll" href="#"><img src="../assets/images/logod1.gif"/></a>
            </div>
        </div>
    </section>

    <div class="header-shadow2">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="../landingpage/index.html">Home</a></li>
            <li role="presentation"><a href="#">Match</a></li>
            <li role="presentation" class="active"><a href="#">Resources</a></li>
        </ul>
    </div>

<!-- Resources Section -->
    <section id="resources" class="resources-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div style="height:20px;"></div>
                    <div style="font-weight: 100"><font color="6c6d6a" size=30>Data Sets Used</font></h1></div>
                    <div style="height:30px;"></div>
                    <div style="font-weight: 100"><font color="6c6d6a" size=5>The following data sets provided by the Government of Canada were utilized in this BizMap application.</font></div>
                        <p><a href="http://open.canada.ca/data/en/dataset/568258a4-3b2e-4047-832a-97c059b8e4d4">Retail trade, operating statistics, by province and territory</a></p>
                        <p><a href="http://open.canada.ca/data/en/dataset/ba58e6a3-5297-4553-8302-995faa2cd0f4" target="_blank">Employment by major industry group, seasonally adjusted, by province (monthly) </a></p>
                        <p><a href="http://open.canada.ca/data/en/dataset/c0e59eae-b3ff-4c61-b064-570e475c585f" target="_blank">Survey on Financing of Small and Median Enterprises - 2007</a></p>
                        <p><a href="http://open.canada.ca/data/en/dataset/ffbc1cee-437b-40f7-8696-078dab1ac0d3" target="_blank">Neighbourhood income and demographics, summary table</a></p> 

                </div>
                <div class="col-lg-12" align="center">
                    <div style="height:20px;"></div>
                    <div style="font-weight: 100"><font color="6c6d6a" size=30>Additional Resources</font></h1></div>
                    <div style="height:30px;"></div>
                    <div style="font-weight: 100"><font color="6c6d6a" size=5>Want to do some of your own research? Check out some of these other great resources from the Government of Canada!</font></div>
                        <p><a href="http://www.servicecanada.gc.ca/eng/subjects/business/" target="_blank">Service Canada - Starting a Business</a></p>
                        <p><a href="http://www.canadabusiness.ca/eng/page/2864/#" target="_blank">Canada Business Network - Market Research and Statistics</a></p> 
                </div>
            </div>
        </div>
    </section>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
</body>

</html>
