<!DOCTYPE html>
<html>
<head>
  <title>SmallBiz</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap
    .css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/scrolling-nav.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/scrolling-nav.js"></script>
    
</body>
</html>
